body{
	padding-top: 0px;
	background: #f8f8f8 url('../images/bg_register.jpg') no-repeat top;
	-webkit-background-size: 100% auto;
   -moz-background-size: 100% auto;
   -o-background-size: 100% auto;
    background-size: 100% auto;	
}
@media(max-width:768px) {
	body{
		background: #f8f8f8;
		padding-top: 0px;	
	}	
}
.register-panel{
	background-color: white;
	border: #e7e7e7 1px solid;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px 25px 25px 25px;
	margin-bottom: 20px;
}
.btn-primary{
	background-color: #131f53;
	border-color: #131f53;
}
.foot{
	text-align: center;
	font-size: 12px;
	color: #d0d0d0;
}
.col-md-6{
	margin-top: 5px;
}